@charset "utf-8";
/* CSS Document */
body{
	background-color: #ffffff;
	padding: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
}

p{
	line-height: 118%;
}

.bottom{
	border-style: none;
	margin-left: 90px;
	margin-right: auto;
	padding-top: 0px;
	padding-bottom: 80px;
	font-size: 18px;
}

.scale-img:hover {
	transform: scale(1.1,1.1); /*画像の拡大*/
	cursor: pointer; /*カーソルをポインターにする*/
}

ul img{
	margin-right: 10px;
	vertical-align: middle;
}

h2{
	font-size: 55px;
}
